<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
<script type="text/javascript">
function checkit()
{
	//判断是否是数字的正则表达式
	return true;
}
</script>
</head>
<body>
<div class="main">
	<div class="optitle clearfix">
		<div class="title">新增帐单&gt;&gt;</div>

	</div>
	<form id="form1" name="form1" method="post" th:action="@{/bill/add}" onsubmit="return checkit();">

		<div class="content">
			<table class="box"><font color="red"></font>

			<tr>
					<td class="field">商品名称：</td>
					<td><input type="text" name="goodsName" class="text"  /> <font color="red">*</font></td>
				</tr>
				<tr>
					<td class="field">商品数量：</td>

					<td><input type="text" name="count" class="text"/> <font color="red">*</font></td>
				</tr>

				<tr>
					<td class="field">交易金额：</td>
					<td><input type="text" name="price" class="text" /> <font color="red">*</font></td>
				</tr>

				<tr>
					<td class="field">是否付款：</td>
					<td><select name="pay" id="select">
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
					</td>
				</tr>
				<tr>
					<td class="field">供应商：</td>
					<td>
						<select name="providerId">
							<option th:each="item:${list}" th:value="${item.id}" th:text="${item.name}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="field">商品描述：</td>
					<td><textarea name="remark" class="text" cols="45" rows="5"></textarea></td>
				</tr>

			</table>
		</div>
		<div class="buttons">
			<input type="submit" name="button" id="button" value="数据提交" class="input-button"/>
		</div>

	</form>
</div>
</body>
</html>
